<div class="header">
  <div>
    <img src="data:image/png;base64,{{logoBase64}}" alt="CERMONT S.A.S." class="logo">
  </div>
  <div class="company-info">
    <strong>CERMONT S.A.S.</strong><br>
    NIT: 901.234.567-8<br>
    Arauca, Colombia<br>
    Tel: +57 300 123 4567
  </div>
</div>