<div class="signature-section">
  <div class="signature-box">
    <div class="signature-line">
      <div class="signature-name">{{technician.name}}</div>
      <div class="signature-role">Técnico Responsable</div>
      <div class="signature-role">{{technician.role}}</div>
    </div>
  </div>
  <div class="signature-box">
    <div class="signature-line">
      <div class="signature-name">{{client.representative}}</div>
      <div class="signature-role">Representante del Cliente</div>
      <div class="signature-role">{{client.name}}</div>
    </div>
  </div>
</div>